<h4>Edit User</h4>

<label>New User Name:</label>
<input [(ngModel)]="selectedUser.name">
<br>

<label>New User Age:</label>
<input [(ngModel)]="selectedUser.age">
<br>

<label>New User Genre:</label>
<select [(ngModel)] = "selectedUser.genre">
  <option value = "Action">Action</option>
  <option value = "Horror">Horror</option>
  <option value = "Sci-Fi">Sci-Fi</option>
  <option value = "Romance">Romance</option>
  <option value = "Comedy">Comedy</option>
  <option value = "Thriller">Thriller</option>
</select>
<br>

<label>New User Description:</label>
<input [(ngModel)]="selectedUser.description">
<br>

<button class = "btn btn-info" (click)="beginUpdatingUser(selectedUser)">Update</button>
<hr>
<button class = "btn btn-info" (click)="beginDeletingUser(selectedUser)">Delete</button>
