<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New User to Moviez Club</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Event Title:</label>
        <br>
        <input #newEvent>
      </div>

      <div>
        <label>Event Time:</label>
        <br>
        <input #newTime>
      </div>

      <div>
        <label>Event Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>

      <button class = "btn btn-info" (click)="submitForm(
         newEvent.value,
         newTime.value,
         newDescription.value);
         newEvent.value='';
         newTime.value='';
         newDescription.value='';">Add</button>
    </div>

</div>
